body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffc107;
}

#overview {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.planet img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.planet img:hover {
    transform: scale(1.1);
}
